/* custom root */
:root {
    --bg-dark: hsl(0, 0%, 11%);
    --window: hsl(0, 0%, 66%);
    --window-2:hsl(0, 0%, 78%);
    --grid: hsl(0, 0%, 95%);
    --font-jersey: "Jersey 10", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-anaheim: "Anaheim", sans-serif;;
    --shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 10px;
}

body {
    background-color: var(--bg-dark);
    margin: 0;
    font-family: var(--font-anaheim);
}

.desktop {
    position: relative;
    height: 100vh;
    /* border: 2px solid red; */
}

.copyright{
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-family: var(--font-anaheim);
    font-size: clamp(10px, 1vw, 14px);
    color: var(--window);
    opacity: 0.5;
    letter-spacing: 1px;
    user-select: none;
}

/* easteregg */
.visitor {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--window);
    font-family: var(--font-jersey);
    letter-spacing: 2px;
}
#visitor-text::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.main-window {
    /* background-color: var(--window) !important; */
    background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, var(--window) 30%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
    box-shadow: var(--shadow);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    border: 1px solid #000;
    padding: 4px 8px;
    display: grid;
    grid-template-columns: 15% 85%;
    /* grid-template-rows: 70% 30%; */
}

.left {
    display: grid;
    grid-template-rows: 70% 30%;
}
.right {
    display: grid;
    grid-template-rows: 85% 15%;
    min-height: 0;
}

.grid {
    border: 1px solid #000;
    background-color: var(--grid);
    margin: .3rem;
}
.grid-1, .grid-2, .grid-3, .grid-4{
    position: relative;
    overflow: hidden;
}

/* grid1 */
.grid-1{
    border-width: 1px 2px 3px 1px;
}
.grid-1 .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.grid-1 .nav li{
    font-family: var(--font-jersey);
    padding: 10px 0 10px 5px;
    letter-spacing: 1px;
    color: hsl(0, 0%, 18%);
    border-bottom: 1px solid #555;
    box-shadow: inset -2px -2px 0 #fff;
    user-select: none;
}
.grid-1 .nav li:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
/* grid2 */
.grid-2 {
    display: grid;
    grid-template-rows: 8% 92%;
    background-color: var(--window-2);
    border-width: 1px 3px 2px 1px;
}
.grid-2 .sm-grid {
    border: 1px solid #000;
    border-width: 2px 3px 3px 2px;
    background-color: var(--grid);
    margin: 0 .3rem .3rem .3rem;
}
.grid-2 .sm-grid:nth-child(1){
   border: none;
   background-color: transparent;
}
.grid-2 .sm-grid:nth-child(1) .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .4rem;
    font-family: var(--font-jersey);
    color: hsl(0, 0%, 18%);
}
.grid-2 .sm-grid:nth-child(1) .header p{
    font-size: 20px;
}
.grid-2 .sm-grid:nth-child(1) .header i{
    font-size: 18px;
}
.grid-2 .sm-grid:nth-child(2){
   overflow: auto;
   min-height: 0;
}
.grid-2 .sm-grid .main-content{
    margin: 20px;
}
.grid-2 .main-content h4{
    margin-bottom: 20px;
}
.grid-2 .main-content p{
    margin-bottom: 10px;
}
.grid-2 .content-section{
    display: none;
}
.grid-2 .content-section.active{
    display: block;
}
.grid-2 .content-section h1{
    margin-bottom: 20px;
}
.content-section .edu-timeline{
    position: relative;
    /* margin-top: 30px; */
    padding-left: 30px;
}
.content-section .edu-timeline::before{
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    width: 2px;
    height: 100%;
    background: var(--window);
    border-radius: 2px;
}
.content-section .edu-timeline .timeline-item{
    position: relative;
    margin-bottom: 25px;
}
.content-section .edu-timeline .timeline-item::before{
    content: "";
    position: absolute;
    left: -27px;
    top: 0;
    width: 12px;
    height: 12px;
    background: var(--window);
    border-radius: 100%;
}
.edu-timeline .timeline-item .timeline-year {
    font-family: var(--font-jersey);
    font-size: 20px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 5px;
    opacity: 0.8;
}
.content-section .tools-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.content-section .tools-header{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-section .tools-header i{
    font-size: 22px;
    cursor: pointer;
}
.content-section .tool-item{
   display: flex;
   border: 1px solid #000;
   border-width: 1px 3px 2px 1px;
   justify-content: center;
   align-items: center;
   padding: 2px 5px;
   background: hsl(0, 0%, 90%);
   box-shadow: inset -2px -2px 0 #fff;
}
.content-section .tool-item:hover{
   background: var(--window-2);
}
.content-section .tool-item i{
   margin-right: 5px;
}
.content-section .tool-item p{
   margin: 0;
}
.tools-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 270px; 
    overflow: hidden;
}
.container-gravitasi {
    position: absolute;
    inset: 0;
    pointer-events: none;
}
/* .container-gravitasi .tool-item {
    position: absolute;
    margin: 0;
} */

/* grid3 */
.grid-3{
    border-width: 1px 3px 3px 1px;
}
.grid-3 p{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    font-family: var(--font-jersey);
}
.grid-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px 3px 3px 5px;
}

/* grid4 */
.grid-4{
    border-width: 1px 2px 3px 1px;
}

